TesteLeonardo.UI/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/TesteLeonardo.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TesteLeonardo.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58757/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Token">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpiraEm" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Guid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Token" nillable="true" type="tns:Token" />
</xs:schema>